# Raw dataset files
data/raw/*.csv
data/raw/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/
ENV/

# System and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
